/* Colores base */
:root {
  --azul-marino: #0A2540;
  --gris-claro: #F5F7FA;
  --blanco: #ffffff;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--gris-claro);
  color: var(--azul-marino);
}

h1, h2, h3, header .logo {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
  background-color: var(--azul-marino);
  color: var(--blanco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}

header .logo {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.6rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: 500;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--gris-claro);
}
/* Botón menú móvil */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}
main {
  padding: 60px 40px;
  text-align: center;
}
main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 15px;
}


main h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
main p{
    font-size: 1.2em;
}
/* Footer */
footer {
  background-color: var(--azul-marino);
  color: var(--blanco);
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 0.9rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  header nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--azul-marino);
    width: 100%;
    text-align: center;
  }

  header nav.active {
    display: block;
  }

  header nav ul {
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
  }

  .menu-toggle {
    display: block;
  }
}

.video-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(rgb(0, 0, 0, 0.1));
    border-radius: 10px;
    text-align: center;
}

.video-container{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(#00aaff);
}

form{
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial,sans-serif;
}

label{
    display: block;
    margin: 5px;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(#00aaff);
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(46, 177, 221);
    color: white;
    border: none;
    padding: 10px 13px;
    cursor: pointer;
}
.boton-flotante{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px white;
    z-index: 100;
}
.boton-flotante img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}